html {
    height: 100%;
}

body {
    height: 100%;
    background-color: azure;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border: solid darkslateblue 3px;
    margin-bottom: 10px;
}

.score {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    border: solid darkslateblue 3px;
}

.player-score, .comp-score {
    text-align: center;
}


.winner {
    text-align: center;
    font-size: x-large;
    padding: 25px;
}